@import "node_modules/normalize.css/normalize";
@import "variables";
@import "mixins";
@import "scaffolding";

.game {
  display: flex;
  justify-content: center;

}

#canvas {
  width: 1280px;
  height: 720px;
}
